.drum-kit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.drum-pad {
    width: 130px;
    height: 100px;
    margin: 10px;
    /* font-size: 20px; */
    border: none;
    /* border-radius: 50%; */
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.drum-pad:hover {
    background-color: #444;
}
span{
    display: flex;
    flex-direction: column;
    justify-self: baseline;
    color: aqua;
    padding-top:10px;
    font-size: large;
}