*{
    text-align: center;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color:#fff;
}
.drum-kit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 200px;
}

.drum-pad {
    width: 130px;
    height: 100px;
    margin: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}


span{
    display: flex;
    flex-direction: column;
    justify-self: baseline;
    color: aqua;
    padding-top:10px;
    font-size: large;
    background-color: #333;
}


img{
    width: 50px;
    height: 50px;
} 
.drum-pad:active, .drum-pad.playing {
    transform: scale(0.9);
}