*{
    text-align: center;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color:#fff;
}
.drum-kit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 200px;
}

.drum-pad {
    width: 130px;
    height: 100px;
    margin: 10px;
    border: none;
    font-size: large;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
}


 button span {
    display: grid;
    /* flex-direction: column; */
    /* justify-self: baseline; */
    color: aqua;
    text-align: center;
    font-size: large;
    background-color: #333;
}


img{
    width: 50px;
    height: 50px;
} 
.drum-pad:active, .drum-pad.playing {
    transform: scale(0.9);
}

footer {
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: rgb(38, 190, 190);
    text-decoration: underline;
}
footer p span {
    color: red;
}