body{
    margin-top: 50px;
    margin: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: #1f1f1f;
    color: white;
    font-family: 'Arial', sans-serif;
    padding: 20px;
}

#joke{
    width: 50%;
    background-color: #2b2929ec;
    margin: 0 auto;
    padding: 20px;
}
button{
    padding: 10px 20px;
    background-color: #e6d8d8ec;
    color: rgb(5, 2, 2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

footer {
    bottom: 0;
    margin-top: 420px;
    line-height: 0.8px;
    text-align: center;
    font-size: 15px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: rgb(38, 190, 190);
    text-decoration: underline;
}
footer p span {
    color: red;
}