body{
    font-family: 'Lato', sans-serif;
    background-color: #272424;
    color: #fff;
    margin-top: 80px;
    display: grid;
    row-gap:20px;
    justify-content: center;
    align-items: center;
    
}
h1{
    text-align: center;
    font-size: 30px;
}
.clock {
    width: 300px;
    height: 200px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    text-align: center;
}
#session {
    font-size: 20px !important;
    margin-top: 40px;
}

.switch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 30px;
    cursor: pointer;
}

footer {
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: rgb(38, 190, 190);
    text-decoration: underline;
}
footer p span {
    color: red;
}
  
